.portfolio-container{
    min-height: 100vh;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.projects-container{
    min-height: 60vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:23rem;
    width:21rem;
    margin: 1rem;
    box-shadow: 9px 8px 10px grey;
    border-radius: 10px;
    transition: 0.5s;
}
/*.project:hover{height:500px}*/
.project-image:hover{ transform: scale(1.06) translateZ(10px);opacity: 1}
.project-image{
    width: 100%;
    border-bottom: 1px solid #55198b;
    height:70%;
    border-radius: 10px;
    transition: 0.5s;
    /*opacity: 0.5;*/
}
.project-image:hover{
    cursor:pointer;
}
.project-title,.project-githubCodes{
    width: 100%;
    height:15%;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-title { /*h3 larger than 0.8rem - expands beyond .project-title; .project-title .h3 becomes smaller*/
    font-size:0.8rem;
    font-family: 'RocknRoll One', sans-serif;
    color:blueviolet;
}


.project-githubCodes a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-githubCodes a{ /*.project-githubCodes i expands beyond .project-githubCodes a*/
    font-size:1.3rem;
    height:2.6rem;
    line-height: 2.6rem;
    width: 2.6rem;
    border-radius: 2.6rem;
    margin:0px 5px 10px;

}
.project-githubCodes i{
    color:white;
    /*display: inline-block;*/
    text-align: center;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 2.6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition:all 0.2s ease-in 0s;
    background-color: grey
}
.project-githubCodes a:hover,.project-githubCodes i:hover{
    cursor:pointer;
    background-color: white /*rgb(15,15,15);*/
}
/*a->i->github symbol*/

.project-githubCodes #github{
    background-color: red;/*rgb(51,51,51);*/
}
.project-githubCodes #github:hover{
    background-color: green;
}
#first{
    background-image: url("../staticAssets/images/unnamed.png");
    /* or background: url("../static/images/unnamed.png") center no-repeat;*/
    /* '../static/xx' to "src/staticAssets/images/unnamed.png" after rename & refactor static to staticAssets*/
    background-size: cover;
    background-repeat: no-repeat;
}
#second{
    background-image: url("../staticAssets/images/0709.jpg_wh860.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*#myModal{display: none}*/
/* 弹窗背景 */
.modal { /*border:5px solid white;*/
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 108px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

/* 弹窗内容 */
.modal-content {/*border:5px solid white;*/
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
    height:70%;
    max-width: 1200px;
    border-radius: 20px;
    padding-bottom: 12px;
}

/* 关闭按钮 */
.close {
    color: white;
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.myInnerSlides{ /*border:5px solid green;*/
    height:80%;
    position: relative;
    border-radius: 20px;
}

/* 上一页 & 下一页 按钮 */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.prev{left:0}
/* 定位下一页按钮到右侧 */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* 鼠标移动上去修改背景色为黑色 */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* 页数(1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.myInnerSlides img {
    /*margin-bottom: 4px;*/
    width:100%;
    height: 100%;
    border-radius: 20px;
}

/* 标记符号 */
.dots{
    position: absolute;
    bottom: 8px;
    right:50%
}
.dot {

    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}
.caption{
    text-align: center;
    padding: 5px 16px;
    color: black;
    font-size: 15px;
    /*:1px solid red;
    width:100%*/
}
.bottom-overview{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-evenly;*/
    justify-content: center;
    width: 100%;
    /*height: 20%;*/
}
.demo {
    opacity: 0.6;
    width: 100px;
    margin:10px
}
.bottom-overview img{border-radius: 20px}
.demo.active,
.demo:hover {
    opacity: 1;
}


/* 淡出动画 */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}