/*
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';
*/

.portfolio-container{
    min-height: 100vh;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.projects-container{
    min-height: 60vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    /*background: #010615;*/
}

.project-card{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    height:215px; /*adjustable dep on pic size*/
    width:380px;
    margin: 40px;
    position: relative;

    transition: 0.5s;
    /*border:2px solid red;*/
   /* background-color: #060c21; /*#010615;*/

}
.project-card:hover{
    height: 400px; /*overflow: hidden or auto;*/ /*min-height: 215px; height: auto;*/
   /* background:  #060c21;*/
}
.project-card .imgBox{ /*border:3px solid white;*/
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*background:  #060c21;*/
    background: linear-gradient(0deg,#060c21,#262626);
    z-index: 1;
}
/*.project-card .imgBox img{*/ /*or .imgBx-image NOT project-image*/
.project-card .imgBox .imgBx-image{
    /*border:5px solid yellowgreen;*/
    opacity: 0.3;
    /*max-width: 100%;*/
    transition: 0.5s;

    /*margin:0; for top left no gap but display real image size*/
    width: 100%;/*height: 100%; expandable as project-card expands when hover*/
}
/*.project:hover{height:500px}*/
/*.project-card:hover .imgBox img{*/
.project-card:hover .imgBox .imgBx-image{
    opacity: 1;
}




.project-card:hover{ /*border: 2px solid white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-card:hover .project-content{ /*border: 2px solid white;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
   /* height:175px *//*opt*/
    /*overflow: auto; or hidden*/ /*height: auto;*/
}
.project-card .project-content .project-headline{ /*border: 2px solid white;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top:0;
    padding-bottom: 0; /*or height:100%*/
    height:35px; /* was 10% but then height of .project-content 175px -> opt now */
    margin-bottom:8px; /*or height:46px; no margin-bottom*/
}
.project-card .project-content .project-headline .project-name{font-weight: bold;font-size:18px}
.project-card .project-content .project-summary{ /*border: 2px solid white;*/
    flex:1;
    width: 100%;
}
.project-summary div{
    /*display: flex;
    justify-content: space-around;
    text-align: justify;
    -moz-text-align-last: justify; // For Firefox
    text-align-last: justify;
    word-spacing: 5px;*/
    text-align: justify;
    text-justify: inter-word;
    /*text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;*/
}
.project-name, .project-slides,.project-githubLink{ /*border:2px solid white;*/
    margin-left:10px
}
.project-slides,.project-githubLink{ /*border:2px solid red;*/
    margin-left: 17px;
    padding: 7px; /*expand circle; expand h&w; display flex wont expand circle*/
    border-radius: 50%;
    height: 20px;
    width: 20px; /*enough -> not beyond circle*/
    position: relative;
    color: #fff;
}
.project-githubLink i{color: #fff}
.project-slides:before,.project-githubLink:before,.project-slides:after,.project-githubLink:after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000;
    filter: blur(20px);
    opacity: 0;
    transition: 1s;
    z-index: -20;
}
.project-slides:after,.project-githubLink:after{filter: blur(40px);}
.project-slides:hover:before,.project-githubLink:hover:before,.project-slides:hover:after,.project-githubLink:hover:after{
    opacity: 1;}
.project-slides .fas,.project-githubLink .fab{
    text-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition:0.5s;
    transform: rotateY(0deg) scale(0.8);
    opacity: 0.2;
}
.project-slides:hover,.project-githubLink:hover{cursor: pointer}
.project-slides:hover i,.project-githubLink:hover i{
    opacity: 1;
    transform: scale(1.2);
}
.project-githubLink:hover .fab{ transform: scale(1.4);}
/*.project-slides i,.project-slides:before,.project-slides:after,.project-githubLink a,.project-githubLink:before,.project-githubLink:after{background: xx;}*/
/*not i's bgc*/
.project-card .project-githubLink,.project-card .project-githubLink:before,.project-card .project-githubLink:after{
    background: linear-gradient(45deg,#ff0057,#e64a19);
}
.project-card .project-slides,.project-card .project-slides:before,.project-card .project-slides:after{
    background: linear-gradient(45deg,#89ff00,#00bcd4);
}

.project-card:nth-child(2) .project-githubLink,.project-card:nth-child(2) .project-githubLink:before,.project-card:nth-child(2) .project-githubLink:after,
.project-card:nth-child(5) .project-githubLink,.project-card:nth-child(5) .project-githubLink:before,.project-card:nth-child(5) .project-githubLink:after,
.project-card:nth-child(8) .project-githubLink,.project-card:nth-child(8) .project-githubLink:before,.project-card:nth-child(8) .project-githubLink:after,
.project-card:nth-child(11) .project-githubLink,.project-card:nth-child(11) .project-githubLink:before,.project-card:nth-child(11) .project-githubLink:after{
    background: linear-gradient(45deg,#e91d63,#5d02ff);
}
.project-card:nth-child(2) .project-slides,.project-card:nth-child(2) .project-slides:before,.project-card:nth-child(2) .project-slides:after,
.project-card:nth-child(5) .project-slides,.project-card:nth-child(5) .project-slides:before,.project-card:nth-child(5) .project-slides:after,
.project-card:nth-child(8) .project-slides,.project-card:nth-child(8) .project-slides:before,.project-card:nth-child(8) .project-slides:after,
.project-card:nth-child(11) .project-slides,.project-card:nth-child(11) .project-slides:before,.project-card:nth-child(11) .project-slides:after{
    background: linear-gradient(45deg,#ff0000,#ffc107);
}


.project-card:nth-child(1):hover{height:468px}
.project-card:nth-child(2):hover{height:508px}
.project-card:nth-child(3):hover{height:530px}
.project-card:nth-child(4):hover{height:320px}
.project-card:nth-child(5):hover{height:445px}
.project-card:nth-child(6):hover{height:320px}
.project-card:nth-child(7):hover{height:266px}
.project-card:nth-child(8):hover{height:320px}
.project-card:nth-child(9):hover{height:270px}

.project-name p{ position: relative;
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
}
.project-card:nth-child(2) .project-name p, .project-card:nth-child(5) .project-name p,
.project-card:nth-child(8) .project-name p, .project-card:nth-child(11) .project-name p{
    /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    text-shadow: 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;*/
    text-shadow: 0 0 20px #ff005b
}
.project-name p:after{
    content: attr(data-name);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -20;
    filter: blur(1px);
    color:#00b3ff;
}
.project-card:nth-child(2) .project-name p:after, .project-card:nth-child(5) .project-name p:after,
.project-card:nth-child(8) .project-name p:after, .project-card:nth-child(11) .project-name p:after{
    color:#ff005b;
}
.project-name p:before{
    position: absolute;
    top:0;
    left:0;
    content: '';
    width: 100%;
    height: 100%;
   /* z-index: -20; background:red;*/
    /*background: yellowgreen; z-index: 20; mix-blend-mode: color;*/
    /*above two hav same effects*/
    z-index: -21; background:#fe3a80;
    opacity: .5;
    filter: blur(15px);
}
.project-card:nth-child(2) .project-name p:before, .project-card:nth-child(5) .project-name p:before,
.project-card:nth-child(8) .project-name p:before, .project-card:nth-child(11) .project-name p:before{
    color:#00e1ff; /*#00ffd9;*/
}




.project-card:before{
    content: "";
    /*background: white;*/
    position: absolute;
    top:-3px;
    left:-3px;
    right: -3px;
    bottom: -3px;
    /*width & height calc(100%+3px)*/
    /*z-index: -1;*/
    /*background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);*/
}
.project-card:after{
    content: "";
    /*background: white;*/
    position: absolute;
    top:-8px;
    left:-8px;
    right: -8px;
    bottom: -8px;
    /*width & height calc(100%+8px)*/
    /*z-index: 1;*/
    filter: blur(40px);
    background-size: 400%;
    animation: shadowAround 20s linear infinite;
}
.project-card:before,.project-card:after,
.project-card:nth-child(4):before,.project-card:nth-child(4)::after,
.project-card:nth-child(7):before,.project-card:nth-child(7)::after,
.project-card:nth-child(10):before,.project-card:nth-child(10)::after{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.project-card:nth-child(2):before,.project-card:nth-child(2)::after,
.project-card:nth-child(5):before,.project-card:nth-child(5)::after,
.project-card:nth-child(8):before,.project-card:nth-child(8)::after,
.project-card:nth-child(11):before,.project-card:nth-child(11)::after{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.project-card:nth-child(3):before,.project-card:nth-child(3)::after,
.project-card:nth-child(6):before,.project-card:nth-child(6)::after,
.project-card:nth-child(9):before,.project-card:nth-child(9)::after,
.project-card:nth-child(12):before,.project-card:nth-child(12)::after{
    background: linear-gradient(235deg,#772aff,#010615,#2196f3);
    /*background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    animation: shadowAround 20s linear infinite;*/
}
@keyframes shadowAround {
    0%{background-position: 0 0;}
    50%{background-position: 300% 0;}
    100%{background-position: 0 0;}
}


.project-card .project-content{
    position:absolute;
    bottom:10px;
    left:10px;
    right:10px;
    /*background: red;*/
    opacity: 0;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 1;
}
.project-card:hover .project-content{
    opacity: 1;
    color:navajowhite; /*for project-name & project-summary*/
}



/*SwiperModal*/
#mySwiperModal{
    z-index: 5;


    font-size: 14px;
    color: #000;
    margin: 0;padding:0; /*opt*/
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background: #111;
    min-height: 100vh;
}

/* 关闭按钮 */
.swiperClose {
    color: white;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.swiperClose:hover,
.swiperClose:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 200px;
    /*border:4px solid white;*/
    margin:60px auto
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px; /*adjustable*/
    background: #000;
    object-fit: cover;
    /*border:1px solid white;*/
    margin:15px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
    /*not sure how to control style (e.g.width) of background-image in css here if in html/js <div className="swiper-slide" style={{backgroundImage:`url(${_slide.imgSrc})`}}></div>*/
}
.swiper-slide img{
    width: 100%;
    object-fit: cover;
}
.swiper-slide video{
    width: 100%;
    object-fit: cover;
}

