.App{
  background-color: hotpink;
  height:49px;
  display: inline-flex;
  align-content: center;
  z-index: 3;
  position:fixed;
  top:0;
  right: 0;
  left:0;
  width: 100%;
}
.AppTransparent{/*#282c34*/
  background-color: rgba(255,255,255,0);
  height:49px;
  display: inline-flex;
  align-content: center;
  position:fixed;
  top:0;
  right: 0;
  left:0;
  z-index: 0;
  width: 100%;

}

.App-logo {
  height: 100%;/*7vmin;*/
  pointer-events: none;
  size:1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



